<div class="container-sm p-3">
    <div class="pagetitle">
        <h1 class="card-title" [ngStyle]="{'color': getHeaderColor()}">Content Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/app">
                        <i class="bi bi-house-door"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a routerLink="/app/content-management">
                        Content Management
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    <div class="mt-4 mb-3 py-3 d-flex">
        <div class="row" style="gap:1rem;">
            <div class="col-lg border rounded p-3">
                <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                    <span>
                        <small>App Title</small>
                        <input type="text" class="form-control mt-2" [(ngModel)]="AppTitle" />
                    </span>
                    <button class="btn btn-sm btn-primary mt-3" (click)="setAppTitle()">Save</button>
                </div>
            </div>
            <div class="col-lg border rounded p-3">
                <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                    <span>
                        <small>App Logo</small>
                        <input type="file" class="form-control mt-2" (change)="onFileSelected($event)" />
                    </span>
                    <button class="btn btn-sm btn-primary mt-3" (click)="setAppLogo()">Save</button>
                </div>
            </div>
            <div class="col-lg border rounded p-3">
                <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                    <span>
                        <small>App Title Color</small>
                        <i style="font-size: .7rem;" class="d-block">Recommended : #012970</i>
                        <input type="color" class="form-control form-control-color" [(ngModel)]="TitleColor" />
                    </span>
                    <button class="btn btn-sm btn-primary mt-3" (click)="setTitleColor()">Save</button>
                </div>
            </div>
            <div class="col-lg border rounded p-3">
                <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                    <span>
                        <small>Body BG Color</small>
                        <i style="font-size: .7rem;" class="d-block">Recommended : #f6f9ff</i>
                        <input type="color" class="form-control form-control-color" [(ngModel)]="BodyBackgroundColor" />
                    </span>
                    <button class="btn btn-sm btn-primary mt-3" (click)="setBodyBackgroundColor()">Save</button>
                </div>
            </div>
            <div class="col-lg border rounded p-3">
                <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                    <span>
                        <small>Primary Color</small>
                        <i style="font-size: .7rem;" class="d-block">Recommended : #ffffff</i>
                        <input type="color" class="form-control form-control-color" [(ngModel)]="PrimaryColor" />
                    </span>
                    <button class="btn btn-sm btn-primary mt-3" (click)="setPrimaryColor()">Save</button>
                </div>
            </div>
            <div class="col-lg border rounded p-3">
                <div class="d-flex flex-column justify-content-between" style="height: 100%;">
                    <span>
                        <small>Header Color</small>
                        <i style="font-size: .7rem;" class="d-block">Recommended : #012970</i>
                        <input type="color" class="form-control form-control-color" [(ngModel)]="HeaderColor" />
                    </span>
                    <button class="btn btn-sm btn-primary mt-3" (click)="setHeaderColor()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="py-3 mt-3 border-top">
        <div class="d-flex flex-column" style="grid:1rem">
            <span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">CICT MISSION</p>
                        <textarea class="form-control" rows="10" [(ngModel)]="mission"></textarea>
                        <button class="btn btn-sm btn-primary mt-2 px-5 mx-auto" (click)="setMision()">Save</button>
                    </div>
                </div>
            </span>
            <span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">CICT VISION</p>
                        <textarea class="form-control" rows="10" [(ngModel)]="vision"></textarea>
                        <button class="btn btn-sm btn-primary mt-2 px-5 mx-auto" (click)="setVision()">Save</button>
                    </div>
                </div>
            </span>
            <span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">CICT GOALS</p>
                        <textarea class="form-control" rows="10" [(ngModel)]="goals"></textarea>
                        <button class="btn btn-sm btn-primary mt-2 px-5 mx-auto" (click)="setGoals()">Save</button>
                    </div>
                </div>
            </span>
            <span>
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">CICT OBJECTIVES</p>
                        <textarea class="form-control" rows="10" [(ngModel)]="objectives"></textarea>
                        <button class="btn btn-sm btn-primary mt-2 px-5 mx-auto" (click)="setObjectives()">Save</button>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>