<div class="container-sm p-3">
    <div class="lead mb-4">Title : {{ research.title }}</div>

    <div class="p-3 rounded bg-white mb-4">
        <a href="#" target="_blank" class="btn btn-outline-primary">View Attachment</a>
        <div class="mt-3">
            <label for="formFile" class="form-label">Reupload Attachment</label>
            <input class="form-control" type="file">
        </div>
    </div>

    <div class="p-3 rounded shadow bg-white">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Add Comment</label>
            <textarea class="form-control" rows="5" [(ngModel)]="newComment"></textarea>
        </div>
        <button class="w-100 btn btn-outline-success" (click)="addComment()">Save</button>
    </div>

    <small class="mt-4 d-block">Comments</small>
    <div class="mt-3">
        <ng-container *ngFor="let c of comments">
            <div class="bg-white p-3 rounded mb-3">
                <i class="d-block mb-3"><small>Reviewer : {{ c.email }} </small></i>
                <p>{{ c.comment }}</p>
                <i class="d-block">
                    <small>{{ c.date }}</small>
                </i>
            </div>
        </ng-container>
    </div>
</div>