<div class="container-sm p-3">
    <div class="pagetitle">
        <h1 class="card-title" [ngStyle]="{'color': getHeaderColor()}">Research Capsule Details</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/app">
                        <i class="bi bi-house-door"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/app/research-capsules">
                        Research Capsules
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a [routerLink]="'/app/research-capsules/view/'+routeParamId">
                        Details
                    </a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="gradeGiven">
        <small>You gave <strong class="text-decoration-underline">{{gradeGiven}}</strong> grade on this Research
            Capsule.</small>
    </div>
    <div class="d-flex align-items-center">
        <div class="lead me-3">Title : {{ research.title }}</div>
        <span *ngIf="research.status === 'completed'" class="badge rounded-pill text-bg-success">COMPLETED</span>
        <span *ngIf="research.status === 'under revision'" class="badge rounded-pill text-bg-warning">UNDER
            REVISION</span>
        <span *ngIf="research.status === 'unassigned'" class="badge rounded-pill text-bg-secondary">UNASSIGNED</span>
    </div>
    <div class="mb-4">
        <small>Uploaded By : {{ research.uploadedBy }} </small> -
        <i><small>{{ research.dateCreated }}</small></i>
    </div>
    <div class="p-3 rounded bg-white mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <a [href]="imageUrl+research.attachment" target="_blank" class="btn btn-outline-primary">View Attachment</a>
            <div class="d-flex align-items-center">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#assign-reviewers-modal"
                    *ngIf="isAdmin">Assign Reviewers</button>
                <button class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#give-grade-modal"
                    *ngIf="isReviewer">Submit Grade</button>
                <button class="btn btn-warning ms-2" data-bs-toggle="modal" data-bs-target="#all-grade-modal"
                    *ngIf="isAdmin">View Grades</button>
            </div>
        </div>
        <div class="mt-3" *ngIf="isUploader">
            <p class="text-secondary text-center" *ngIf="isReUploading">Reuploading attachment...</p>
            <div class="input-group" *ngIf="!isReUploading">
                <label class="input-group-text" for="re-upload">Re-Upload Attachment</label>
                <input type="file" class="form-control" id="re-upload" (change)="onFileSelected($event)">
                <button class="btn btn-primary" (click)="reupload()">Submit</button>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <small *ngIf="research.reviewers.length !== 0">Reviewers : &nbsp;</small>
        <ng-container *ngIf="research.reviewers.length !== 0">
            <ng-container *ngFor="let r of research.reviewers">
                <span class="badge text-bg-primary">{{ r }}</span> &nbsp;
            </ng-container>
        </ng-container>
        <ng-container *ngIf="research.reviewers.length === 0">
            <span class="badge text-bg-danger">No reviewers has been set</span> &nbsp;
        </ng-container>
    </div>

    <div class="p-3 rounded shadow bg-white">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Add Comment</label>
            <textarea class="form-control" rows="5" [(ngModel)]="newComment"></textarea>
        </div>
        <button class="w-100 btn btn-outline-success" *ngIf="newComment.trimStart() !== ''"
            (click)="addComment()">Save</button>
    </div>

    <small class="mt-4 d-block" *ngIf="comments.length !== 0">Comments</small>
    <div class="mt-3">
        <div class="d-flex justify-content-center mb-3" *ngIf="isLoadingComment">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <ng-container *ngFor="let c of comments">
            <div class="bg-white p-3 rounded mb-3">
                <i class="d-block">
                    <small style="font-size:.7rem">{{ c.date }}</small>
                </i>
                <i class="d-block mb-2"><small style="font-size:.85rem">{{ c.email }} commented :</small></i>
                <p [innerHTML]="c.comment.replaceAll('\n', '<br/>')"></p>
            </div>
        </ng-container>
    </div>
</div>


<!-- MODAL ASSIGNING -->
<div class="modal fade" id="assign-reviewers-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Assign Reviewers</h1>
                <button type="button" class="btn-close" #closeReviewersModalBtn data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="reviewers.length === 0">
                    <p class="p-5 my-3 text-center">No Reviewers Found</p>
                </ng-container>
                <ng-container *ngFor="let ar of reviewers">
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" [id]="'assignee-reviewer-'+ar.id"
                            [value]="ar.id" (change)="onSelect($event)" [checked]="isChecked(ar.id)">
                        <label class="form-check-label">{{ar.email}}</label>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" *ngIf="selectedReviewers.length !== 0"
                    (click)="assignReviewer()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL GIVING GRADE -->
<div class="modal fade" id="give-grade-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Submit Grade</h1>
                <button type="button" class="btn-close" #closeGradingModalBtn data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="gradeGiven">
                    <small>Note : You already submitted Grades for this research. If you wish to update the grade you
                        submitted just hit save.</small>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <input type="number" class="form-control" [(ngModel)]="gradeInput" min="0" max="100">
                <i class="text-secondary" style="font-size: .7rem;">1-100</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" *ngIf="(gradeInput > 0) && (gradeInput <= 100)"
                    (click)="updateGrade()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL GIVING GRADE -->
<div class="modal fade" id="all-grade-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">All Grades</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="py-5" *ngIf="allSubmittedGrades.length === 0">
                    <h3 class="mb-2 text-center fw-bolder">No Grades Found</h3>
                    <p class="text-secondary text-center">Please wait for the reviewers to submit their grades.</p>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="allSubmittedGrades.length === research.reviewers.length">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>Grades are now complete and got an average of {{getAverage()}}%.</p>
                    <hr>
                    <small class="mb-0">This research is now ready for completion.</small>
                </div>
                <table class="table table-bordered" *ngIf="allSubmittedGrades.length !== 0">
                    <thead>
                        <tr>
                            <th scope="col">Grade</th>
                            <th scope="col">Reviewer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ag of allSubmittedGrades">
                            <th scope="row">{{ ag.grade }}</th>
                            <td>{{ ag.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="w-100"> 
                    <div class="d-flex justify-content-end w-100" style="gap:10px">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" *ngIf="research.status !== 'completed'" (click)="markAsCompleted()"
                            [disabled]="allSubmittedGrades.length !== research.reviewers.length"
                        >Mark as Complete</button>
                    </div>
                    <i class="d-block text-end" *ngIf="allSubmittedGrades.length !== research.reviewers.length"><small class="text-secondary">Need all Reviewers to submit grades.</small></i>
                </div>
            </div>
        </div>
    </div>
</div>