<section *ngIf="isThemeLoaded" [ngClass]="{'toggle-sidebar' : sidebarToggle}"
  [ngStyle]="{ 'background-color' : getPrimaryColor() }">
  <header id="header" class="header fixed-top d-flex align-items-center" *ngIf="hasAuth()"
    [ngStyle]="{ 'background-color' : getPrimaryColor() }">
    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn p-0 pe-3" [ngStyle]="{ 'color' : getTitleColor() }"
        (click)="sidebarToggle = !sidebarToggle"></i>
      <img [src]="getAppLogo()" width="40px" class="d-block me-2" />
      <span class="logo d-flex align-items-center">
        <span class="d-none d-lg-block" [ngStyle]="{ 'color' : getTitleColor() }">{{ getAppTitle() }}</span>
      </span>
    </div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown px-3 py-2 border rounded-pill m-3"
          (click)="isDropdownHeaderOpen = !isDropdownHeaderOpen" style="cursor: pointer;">
          <div class="nav-link nav-profile d-flex align-items-center">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{AuthEmail()}}</span>
          </div>
          <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-arrow profile d-block"
            style="right:0rem;margin-top:2rem" *ngIf="isDropdownHeaderOpen">
            <li class="dropdown-header">
              <h6>{{AuthEmail()}}</h6>
              <small>{{AuthRole().toUpperCase()}}</small>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" routerLink="/app/profile">
                <i class="bi bi-person"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <span class="dropdown-item d-flex align-items-center" (click)="signOut()" style="cursor: pointer;">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <aside id="sidebar" class="sidebar" *ngIf="hasAuth()" [ngStyle]="{ 'background-color' : getPrimaryColor() }">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a [ngClass]="{
          'nav-link collapsed' : true,
          'active' : currentRoute === '/app'
        }" routerLink="/app">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a [ngClass]="{
          'nav-link collapsed' : true,
          'active' : currentRoute === '/app/research-capsules'
        }" routerLink="/app/research-capsules">
          <i class="bi bi-menu-button-wide"></i>
          <span>Research Capsules</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="AuthRole() === 'admin'">
        <a [ngClass]="{
          'nav-link collapsed' : true,
          'active' : currentRoute === '/app/accounts'
        }" routerLink="/app/accounts">
          <i class="bi bi-people"></i>
          <span>Accounts Management</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="AuthRole() === 'admin'">
        <a [ngClass]="{
          'nav-link collapsed' : true,
          'active' : currentRoute === '/app/content-management'
        }" routerLink="/app/content-management">
          <i class="bi bi-aspect-ratio"></i>
          <span>Content Management</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="AuthRole() === 'admin'">
        <a [ngClass]="{
          'nav-link collapsed' : true,
          'active' : currentRoute === '/app/reports'
        }" routerLink="/app/reports">
          <i class="bi bi-file-earmark"></i>
          <span>Reports</span>
        </a>
      </li>
    </ul>
  </aside>

  <main [id]="hasAuth() ? 'main' : ''" [ngClass]="{'main' : hasAuth()}"
    [ngStyle]="{ 'background-color' : getBodyBackgroundColor() }">
    <div class="position-sticky top-0 w-100 d-flex justify-content-center align-items-center"
      style="height:80vh; z-index: 100;" *ngIf="isPageLoading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div [@routerAnim]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </main>
</section>
<div *ngIf="!isThemeLoaded"
  class="bg-white w-100 d-flex justify-content-center align-items-center position-fixed top-0 start-0"
  style="height: 100%;z-index:500">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>