<section [ngClass]="{'toggle-sidebar' : sidebarToggle}">
  <header id="header" class="header fixed-top d-flex align-items-center" *ngIf="hasAuth()">
    <div class="d-flex align-items-center justify-content-between">
      <span class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">R.C SYSTEM</span>
      </span>
      <i class="bi bi-list toggle-sidebar-btn" (click)="sidebarToggle = !sidebarToggle"></i>
    </div>
  </header>

  <aside id="sidebar" class="sidebar" *ngIf="hasAuth()">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/app">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/app/research-capsules">
          <i class="bi bi-menu-button-wide"></i>
          <span>Research Capsules</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/app/accounts">
          <i class="bi bi-person"></i>
          <span>Accounts Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/app/profile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-danger w-100" (click)="signOut()">Sign out</button>
      </li>
    </ul>
  </aside>

  <main [id]="hasAuth() ? 'main' : ''" [ngClass]="{'main' : hasAuth()}">
    <div class="position-sticky top-0 w-100 d-flex justify-content-center align-items-center bg-light"
      style="height:80vh; z-index: 100;" *ngIf="isPageLoading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <router-outlet></router-outlet>
  </main>
</section>