<div class="container-sm p-3">
    <div class="pagetitle">
        <h1 class="card-title" [ngStyle]="{'color': getHeaderColor()}">My Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/app">
                        <i class="bi bi-house-door"></i>
                    </a>
                </li>
                <li class="breadcrumb-item active">
                    <a routerLink="/app/profile">
                        Profile
                    </a>
                </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-5">
            <p class="lead">Access Information</p>
            <div class="form-container-xs shadow rounded p-3">
                <form (ngSubmit)="updateEmail()">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel">
                    </div>
                    <button *ngIf="email.touched || email.dirty" type="submit" class="btn btn-outline-danger w-100">Update Email</button>
                </form>
            </div>
            <div class="form-container-xs shadow rounded p-3 mt-5">
                <form (ngSubmit)="updatePassword()">
                    <div class="mb-3">
                        <label class="form-label">Old Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="form.oldpassword" #oldpass="ngModel">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">New Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="form.newpassword" #newpass="ngModel">
                    </div>        
                    <button *ngIf="oldpass.touched || newpass.touched || newpass.dirty || oldpass.dirty" type="submit" class="btn btn-outline-danger w-100">Update Password</button>
                </form>
            </div>
        </div>
        <div class="col-5">
            <p class="lead">Personal Information</p>
            <div class="form-container-xs shadow rounded p-3">
                <form (ngSubmit)="updatePersonalInfo()">
                    <!-- <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel">
                    </div> -->
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="form.name"
                            required>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label">Age</label>
                        <input type="number" class="form-control" name="age" [(ngModel)]="form.age" min="0"
                            required>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" name="address" rows="2" [(ngModel)]="form.address" required></textarea>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label">Employee Number</label>
                        <input type="text" class="form-control" name="employeeNumber" [(ngModel)]="form.employeeNumber"
                            required>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label">Department</label>
                        <select class="form-select" name="department" [(ngModel)]="form.department">
                            <option value="BSIT" selected>BSIT</option>
                            <option value="BLIS">BLIS</option>
                        </select>
                    </div>
            
                    <div class="mb-3">
                        <label class="form-label">Profile</label>
                        <input class="form-control" type="file" (change)="onFileSelected($event)">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>